:root{
    --color-fondo: #ebdce9;
    --color-base: #F7C9F3;
    --color-transicion: #4180F6;
    --color-shadow: #110038;
    --color-box-shadow: #997D97;
    --color-fondo-gris: #E6E6E6;
    --color-shadow-gris: #B4B4B4;
    --color-gris-medio: #808080;
    --color-fondo-secciones: #FFFAFE;
    --color-border-secciones: #E6BBE2;
    --color-shadow-1: #E6DCE4;
    --color-letra: #000000;
    --color-contraste: #110038;
    --color-contraste2: #110038;

    --color-tag-busqueda: #4180F6;
    --color-fondo-boton-activo: #FFF4FD;
    --color-fondo-boton-inactivo: #F0F0F0;
    --color-fondo-temas: #CCA6C9;

    --imagen-logo: url('/imagenes/gifOF_logo.png');
    --imagen-regresar: url('/imagenes/arrow.svg');
    --imagen-lupa-inactiva: url('/imagenes/lupa_inactive.svg');
    --imagen-camera: url('/imagenes/camera.svg');
    --imagen-recording: url('/imagenes/recording.svg');
    --imagen-forward: url('/imagenes/forward.svg');
    --imagen-dropdown: url('/imagenes/dropdown.svg');
}

.dark{
    --color-fondo: #110038;
    --color-base: #EE3EFE ;
    --color-transicion: #2E32FB;
    --color-shadow: #110038;
    --color-box-shadow: #997D97;
    --color-fondo-gris: #B4B4B4;
    --color-shadow-gris: #8F8F8F;
    --color-gris-medio: #808080;
    --color-fondo-secciones: #FFFAFE;
    --color-border-secciones: #2E32FB;
    --color-shadow-1: #E6DCE4;
    --color-letra: #ffffff;
    --color-contraste: #ffffff;
    --color-contraste2: #110038;

    --color-tag-busqueda: #B4B4B4;
    --color-fondo-boton-activo: red;
    --color-fondo-boton-inactivo: red;
    --color-fondo-temas: red;

    --imagen-logo: url('/imagenes/gifOF_logo_dark.png');
    --imagen-regresar: url('/imagenes/arrow.svg');
    --imagen-lupa-inactiva: url('/imagenes/Combined_Shape.svg');
    --imagen-camera: url('/imagenes/camera_light.svg');
    --imagen-recording: url('/imagenes/recording_dark.svg');
    --imagen-forward: url('/imagenes/forward.svg');
    --imagen-dropdown: url('/imagenes/forward.svg');

}





















