@import url(colores_root.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--color-fondo);
  font-family: "Chakra Petch", sans-serif;
  font-size: calc( 9px + 0.5vw );
  color: var(--color_letra_normal); }

body {
  background-color: var(--color-fondo); }

header {
  position: sticky;
  top: 0;
  left: 0; }

.titulo-superior {
  background: var(--color-transicion);
  background: linear-gradient(90deg, var(--color-transicion) 0%, var(--color-base) 100%);
  box-shadow: 0 1px 0 0 var(--color-shadow);
  line-height: 23px;
  font-size: calc(5px + 0.5vw);
  color: #ffffff;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px; }

.titulo {
  padding: 35px 10vw 0 7vw;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .titulo .logos-flechas {
    display: flex;
    align-items: center; }
  .titulo .logo {
    background: var(--imagen-logo);
    width: 7vw;
    display: inline-block;
    height: 4.5vw;
    background-repeat: no-repeat;
    background-size: 7vw 4.5vw; }
  .titulo .flecha-regresar {
    background: var(--imagen-regresar);
    width: 1.7vw;
    display: none;
    height: 2.5rem;
    background-repeat: no-repeat;
    margin-right: 7px; }
  .titulo .botones-cabecera {
    display: flex;
    justify-content: flex-end; }
    .titulo .botones-cabecera .detalle-select-tema {
      background-color: var(--color-fondo-gris);
      height: 7vw;
      display: none;
      position: fixed;
      width: 12vw;
      justify-content: space-evenly;
      flex-direction: column; }
      .titulo .botones-cabecera .detalle-select-tema div {
        height: 2.5vw;
        width: 85%;
        margin-left: calc( 5px + 0.5vw );
        line-height: 2.5vw;
        background-color: var(--color-fondo-boton-inactivo);
        padding-left: calc( 3px + 0.5vw );
        border: 1px solid var(--color-gris-medio);
        box-shadow: inset -1px -1px 0 0 var(--color-shadow-gris), inset 1px 1px 0 0 #FFFFFF; }
      .titulo .botones-cabecera .detalle-select-tema #tema-day {
        background-color: var(--color_boton_day);
        color: var(--color_letra_obscuro); }
      .titulo .botones-cabecera .detalle-select-tema #tema-night {
        background-color: var(--color_boton_night);
        color: var(--color_letra_normal); }
    .titulo .botones-cabecera .link-mis-guifos {
      height: 2.5vw;
      width: 6.7vw;
      line-height: 2.5vw;
      color: var(--color_letra_normal);
      white-space: nowrap; }
      .titulo .botones-cabecera .link-mis-guifos::first-letter {
        text-decoration: underline; }
      .titulo .botones-cabecera .link-mis-guifos:hover {
        border: 1px solid var(--color-shadow); }
      .titulo .botones-cabecera .link-mis-guifos:active {
        color: var(--color-gris-medio); }

.boton-buscar-input {
  background-color: var(--color-base);
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 var(--color_inner_base), inset 1px 1px 0 0 #FFFFFF; }
  .boton-buscar-input .btn-crear-captura-texto {
    color: var(--color_letra_normal); }
  .boton-buscar-input .btn-crea-captura-imagen {
    background-image: var(--imagen-lupa-activa); }

.boton-buscar-active {
  width: 6.8vw;
  height: 32px;
  background-color: var(--color_base_hover);
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 var(--color_inner_base), inset 1px 1px 0 0 #FFFFFF; }
  .boton-buscar-active .btn-crear-captura-texto {
    color: var(--color_letra_normal); }
  .boton-buscar-active .btn-crea-captura-imagen {
    background-image: var(--imagen-lupa-activa); }

#buscar {
  height: 6.9vw;
  margin: 19px 10vw 0 7vw;
  background-color: var(--color-fondo-gris); }
  #buscar .contenedor_principal_buscar {
    height: inherit;
    display: flex;
    flex-direction: column;
    box-shadow: inset -2px -2px 0 0 var(--color-shadow-gris), inset 2px 2px 0 0 #FFFFFF; }
  #buscar .titulo-buscar {
    height: 24px; }
  #buscar .body-buscar {
    background-color: var(--color-fondo-gris);
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 2px 2px 2px; }
    #buscar .body-buscar input {
      background-color: #ffffff;
      width: 73vw;
      height: 3.3vw;
      padding-left: calc( 9px + 0.5vw );
      color: #B4B4B4;
      border: 1px solid var(--color-box-shadow);
      line-height: 22px;
      box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000; }
      #buscar .body-buscar input:focus {
        color: #110038; }
      #buscar .body-buscar input:active ~ .boton-buscar-normal {
        background-color: var(--color-base);
        border: 1px solid var(--color-shadow);
        box-shadow: inset -1px -1px 0 0 var(--color-box-shadow), inset 1px 1px 0 0 #FFFFFF; }
        #buscar .body-buscar input:active ~ .boton-buscar-normal .btn-crear-captura-texto {
          color: var(--color_letra_normal); }
        #buscar .body-buscar input:active ~ .boton-buscar-normal .btn-crear-captura-imagen {
          background-image: var(--imagen-lupa-activa); }
      #buscar .body-buscar input:focus ~ .boton-buscar-normal {
        background-color: var(--color-base);
        border: 1px solid var(--color-shadow);
        box-shadow: inset -1px -1px 0 0 var(--color-box-shadow), inset 1px 1px 0 0 #FFFFFF; }
        #buscar .body-buscar input:focus ~ .boton-buscar-normal .btn-crear-captura-texto {
          color: var(--color_letra_normal); }
        #buscar .body-buscar input:focus ~ .boton-buscar-normal .btn-crear-captura-imagen {
          background-image: var(--imagen-lupa-activa); }
  #buscar .detalle-buscar-buscando {
    width: 100%;
    height: 160px;
    padding-left: calc(9px + 0.5vw);
    display: none;
    position: sticky;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--color-fondo-gris);
    box-shadow: inset -2px -2px 0 0 var(--color-shadow-gris), inset 2px 2px 0 0 #FFFFFF; }
    #buscar .detalle-buscar-buscando button {
      text-align: left;
      padding-left: calc(9px + 0.5vw);
      height: 2.5vw;
      width: 73vw;
      margin-top: 5px;
      margin-bottom: 5px;
      color: #110038;
      line-height: 22px;
      background-color: var(--color-fondo-boton-inactivo);
      border: 1px solid var(--color-gris-medio);
      box-shadow: inset -1px -1px 0 0 var(--color-shadow-gris), inset 1px 1px 0 0 #FFFFFF; }
      #buscar .detalle-buscar-buscando button:hover {
        border: 1px solid var(--color-shadow);
        background-color: var(--color_busqueda_resultado_hover); }

.detalle-buscar-buscado {
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
  padding-top: 12px; }
  .detalle-buscar-buscado button {
    width: auto;
    height: 2.4vw;
    margin: 0px 10px;
    padding: 0px 10px;
    background-color: var(--color-tag-busqueda);
    border: 1px solid #4C2F99;
    color: #FFFFFF;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF; }

.secciones {
  margin: 64px 10vw 0 7vw; }
  .secciones h2 {
    width: 100%;
    height: 32px;
    font-size: calc(7px + 0.5vw);
    line-height: 32px;
    padding-left: 7px;
    font-weight: normal;
    color: var(--color_letra_normal);
    background-color: var(--color-fondo-secciones);
    border: 1px solid var(--color-border-secciones);
    box-shadow: inset -2px -2px 0 0 var(--color-shadow-1), inset 2px 2px 0 0 #80687D; }
  .secciones .galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: calc( 13px + 0.5vw );
    padding-top: 16px; }

.imagen-con-marco {
  background-color: var(--color-fondo-gris);
  box-shadow: inset -2px -2px 0 0 var(--color-shadow-gris), inset 2px 2px 0 0 #FFFFFF;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  height: 21.75vw; }
  .imagen-con-marco .subtitulo-imagen-marco {
    position: sticky;
    top: 18vw;
    display: none; }
  .imagen-con-marco .titulo-imagen-marco {
    display: flex;
    justify-content: space-between; }
    .imagen-con-marco .titulo-imagen-marco span {
      padding-left: 5px;
      font-size: calc( 7px + 0.5vw );
      background-color: transparent;
      font-weight: bold;
      color: #FFFFFF;
      height: 24px; }
    .imagen-con-marco .titulo-imagen-marco img {
      background-color: transparent; }
  .imagen-con-marco:hover {
    border: 1px solid var(--color-shadow); }
  .imagen-con-marco:hover > .subtitulo-imagen-marco {
    display: block; }

.button-ver-mas {
  width: 5.6vw;
  height: 2.5vw;
  background: #4180F6;
  border: 1px solid #4C2F99;
  box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
  margin-left: 7px;
  color: #FFFFFF;
  font-size: calc( 7px + 0.5vw );
  position: absolute;
  margin-top: calc( 20vw - 1.5vw ); }

#tendencias {
  display: block; }

#sugerencias {
  display: block; }

#resultado-busqueda {
  display: none; }

#mis-guifos {
  display: none;
  height: 80vw; }

#crear-guifos {
  display: none; }

.instrucciones {
  background-color: var(--color-fondo-gris);
  width: 47.6vw;
  height: 26.7vw;
  margin: auto;
  box-shadow: inset -2px -2px 0 0 var(--color-shadow-gris), inset 2px 2px 0 0 #FFFFFF; }

.detalle-instrucciones {
  display: grid;
  grid-gap: calc(9px + 0.5vw);
  background-color: transparent;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
  grid-template-areas: "logo-crear titulo-crear titulo-crear titulo-crear" "logo-crear pasos pasos pasos" "logo-crear . boton-cancelar boton-comenzar";
  padding-top: 2vw;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 2px; }

.img-crear {
  grid-area: logo-crear;
  justify-self: end; }

.h4-crear {
  background-color: transparent;
  grid-area: titulo-crear; }

.negrita {
  font-weight: bold;
  background-color: transparent; }

.p-crear {
  background-color: transparent;
  grid-area: pasos;
  line-height: 1.7vw;
  padding-bottom: 1.7vw; }

#btn-crear-cancelar {
  grid-area: boton-cancelar;
  margin: auto; }

#btn-crear-comenzar {
  grid-area: boton-comenzar;
  margin: auto; }

.precaptura {
  display: none;
  padding-left: 11px;
  padding-top: 11px;
  background-color: transparent; }

.div-gifos-subido {
  display: none; }

.video-gifos {
  width: 57.8vw;
  height: 30vw;
  object-fit: fill; }

.img-gifos {
  width: 57.8vw;
  height: 30vw;
  display: none; }

.precaptura-botones {
  padding-top: 1.6vw;
  display: flex;
  justify-content: flex-end;
  background-color: transparent; }

#tiempo_grabacion {
  width: 8.6vw;
  text-align: right;
  padding-right: 10px; }

.btn-crear-guifos {
  width: 10vw;
  height: 2.5vw;
  line-height: 18px;
  margin-right: calc(9px + 0.5vw);
  background-color: var(--color-base);
  border: 1px solid var(--color-shadow);
  box-shadow: inset -1px -1px 0 0, var(--color-box-shadow), inset 1px 1px 0 0 #FFFFFF; }
  .btn-crear-guifos:hover {
    background-color: var(--color_base_hover); }
  .btn-crear-guifos:active {
    background-color: var(--color_base_hover); }

.btn-crear-captura {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 12vw;
  height: 2.5vw;
  list-style: none; }
  .btn-crear-captura .btn-crear-captura-imagen {
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    width: 2.5vw;
    height: 2.5vw; }
  .btn-crear-captura .btn-crear-captura-texto {
    text-align: center;
    width: 9.5vw;
    background-color: transparent;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    line-height: 2.5vw; }
  .btn-crear-captura:hover {
    background-color: var(--color_base_hover); }
  .btn-crear-captura:active {
    background-color: var(--color_base_hover); }

.select-tema {
  background-color: var(--color-base);
  border: 1px solid var(--color-shadow);
  box-shadow: inset -1px -1px 0 0 var(--color-box-shadow), inset 1px 1px 0 0 #FFFFFF;
  line-height: 18px;
  margin-right: calc(9px + 0.5vw); }
  .select-tema .btn-crear-captura-imagen {
    background-color: transparent;
    background-image: var(--imagen-dropdown);
    background-repeat: no-repeat;
    background-position: center; }

.boton-buscar-normal {
  width: 7vw;
  background-color: var(--color-fondo-gris);
  border: 1px solid var(--color-gris-medio);
  box-shadow: inset -1px -1px 0 0 var(--color-shadow-gris), inset 1px 1px 0 0 #FFFFFF;
  line-height: 18px; }
  .boton-buscar-normal .btn-crear-captura-imagen {
    background-color: transparent;
    background-image: var(--imagen-lupa-inactiva);
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    box-shadow: 0 0; }
  .boton-buscar-normal .btn-crear-captura-texto {
    color: var(--color_letra_medio);
    border: 0;
    box-shadow: 0 0; }

.btn-crear-capturar .btn-crear-captura-imagen {
  background-image: var(--imagen-camera);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center; }

.btn-crear-capturando {
  background-color: #FF6161;
  display: none; }
  .btn-crear-capturando .btn-crear-captura-imagen {
    background-color: transparent;
    background-image: var(--imagen-recording);
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF; }
  .btn-crear-capturando .btn-crear-captura-texto {
    color: #FFFFFF;
    box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF; }

#btn-crear-repetir {
  display: none; }

#btn-crear-subir {
  display: none; }

#img_barra_progreso {
  background-image: var(--imagen-forward);
  background-repeat: no-repeat;
  background-size: 6px 10px;
  background-position: center;
  width: 20px;
  height: 20px;
  background-color: #F7C9F3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF; }

#barra_progreso {
  display: none;
  width: 260px;
  margin-left: 10px;
  justify-content: end;
  align-items: center;
  background-color: transparent; }

#div_barra_progreso {
  background-color: #B4B4B4;
  box-shadow: inset 2px 2px 0 0 #FFFCFC, inset -2px -2px 0 0 #000000; }

.barra_progreso_0 {
  list-style: none;
  width: 240px;
  margin: 0 auto;
  background: #B4B4B4;
  box-shadow: inset 2px 2px 0 0 #FFFCFC, inset -2px -2px 0 0 #000000; }
  .barra_progreso_0 li {
    float: left;
    position: relative;
    width: 12px;
    height: 20px;
    border-right: 1px solid var(--color-shadow-gris); }
    .barra_progreso_0 li div {
      width: 12px;
      height: 20px; }
    .barra_progreso_0 li:first-child {
      margin-left: 0px; }
    .barra_progreso_0 li .libre {
      background: #999999; }
    .barra_progreso_0 li .ocupado {
      background: var(--color-base); }

.precaptura-botones-grabado {
  display: flex;
  width: 390px;
  justify-content: space-between;
  background-color: transparent; }

.precaptura-botones-estatus {
  display: flex;
  justify-content: flex-end;
  width: 390px;
  background-color: transparent; }

.precaptura-botones-subir {
  display: flex;
  justify-content: flex-end;
  background-color: transparent; }
  .precaptura-botones-subir button {
    width: 10vw;
    box-shadow: inset -1px -1px 0 0 var(--color_inner_boton_subir), inset 1px 1px 0 0 var(--color_inner_boton_subir_2);
    border: 1px solid #110038; }
  .precaptura-botones-subir #btn-crear-subir {
    background: var(--color-base); }

.secondary_button {
  background: var(--color-fondo); }
  .secondary_button:hover {
    background: var(--color_boton_repetir_captura_hover);
    border: 1px solid var(--color-border-secondary);
    box-shadow: inset -1px -1px 0 0 var(--color_inner_boton_subir), inset 1px 1px 0 0 var(--color_inner_boton_subir_2); }

.antes_empezar .instrucciones {
  width: 59.8vw;
  height: 38.1vw; }
.antes_empezar .detalle-instrucciones {
  display: none; }
.antes_empezar .precaptura {
  display: block; }
.antes_empezar .video-gifos {
  display: inline; }
.antes_empezar .img-gifos {
  display: none; }
.antes_empezar .div-gifos {
  display: none; }
.antes_empezar .precaptura-botones-grabado {
  display: none; }
.antes_empezar .precaptura-botones-estatus {
  display: flex;
  width: 100%; }
.antes_empezar .precaptura-botones-subir {
  display: none; }
.antes_empezar .precaptura-cancelar {
  display: none; }
.antes_empezar #btn-crear-capturando {
  display: none; }
.antes_empezar #btn-crear-capturar {
  display: flex; }

.capturando .precaptura-botones {
  justify-content: space-between; }
.capturando .precaptura-botones-grabado {
  display: flex; }
.capturando #tiempo_grabacion {
  display: inline; }
.capturando #btn-crear-capturar {
  display: none; }
.capturando #btn-crear-capturando {
  display: flex; }

.vista_previa #btn-crear-repetir {
  display: inline; }
.vista_previa #btn-crear-capturando {
  display: none; }
.vista_previa #btn-crear-subir {
  display: inline; }
.vista_previa #barra-progreso {
  display: flex; }
.vista_previa .precaptura-botones-subir {
  display: flex; }
.vista_previa .img-gifos {
  display: inline; }
.vista_previa .video-gifos {
  display: none; }
.vista_previa #barra_progreso {
  display: flex; }

.subiendo .instrucciones {
  width: 59.8vw;
  height: 38.1vw; }
.subiendo .detalle-instrucciones {
  display: none; }
.subiendo .precaptura {
  display: block; }
.subiendo .video-gifos {
  display: none; }
.subiendo .img-gifos {
  display: none; }
.subiendo .div-gifos {
  display: flex;
  background: #FFFFFF;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 838px;
  height: 440px; }
  .subiendo .div-gifos img {
    width: 3.3vw;
    background-color: transparent; }
  .subiendo .div-gifos .texto1 {
    padding-top: 8px;
    font-weight: bold;
    font-size: 16px;
    color: #110038;
    background-color: transparent; }
  .subiendo .div-gifos .texto2 {
    font-size: 12px;
    color: rgba(17, 0, 56, 0.64);
    letter-spacing: 0;
    text-align: center;
    line-height: 14px;
    margin-top: 10px;
    background-color: transparent; }
    .subiendo .div-gifos .texto2 span {
      text-decoration: line-through;
      background-color: transparent;
      font-size: 12px;
      color: rgba(17, 0, 56, 0.64); }
  .subiendo .div-gifos .barra_progreso_0 {
    width: 324px;
    height: 24px;
    background: #B4B4B4;
    box-shadow: inset 2px 2px 0 0 #FFFCFC, inset -2px -2px 0 0 #000000;
    margin-top: 40px; }
    .subiendo .div-gifos .barra_progreso_0 .libre {
      background-color: #999999; }
    .subiendo .div-gifos .barra_progreso_0 .ocupado {
      background-color: #F7C9F3; }
.subiendo .precaptura-botones-grabado {
  display: none; }
.subiendo .precaptura-botones-estatus {
  display: none; }
.subiendo .precaptura-botones-subir {
  display: none; }
.subiendo .precaptura-cancelar {
  display: inline;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background: transparent; }

.subido .instrucciones {
  width: 721px;
  height: 391px; }
.subido .detalle-instrucciones {
  display: none; }
.subido .div-gifos-subido {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 2fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "img_subido lbl_subido" "img_subido btn_copiar" "img_subido btn_descargar" ". btn_listo";
  grid-gap: 27px;
  background: #E6E6E6;
  width: 95%;
  margin: auto;
  margin-top: 29px; }
  .subido .div-gifos-subido .img-gifos-subido {
    grid-area: img_subido;
    height: 13vw;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000; }
  .subido .div-gifos-subido .lbl-gifos_subido {
    grid-area: lbl_subido;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
    align-self: end;
    background-color: transparent;
    font-weight: bold; }
  .subido .div-gifos-subido .btn-gifos-subido-copiar {
    grid-area: btn_copiar;
    background: var(--color-fondo);
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    width: 256px;
    height: 2.5vw; }
  .subido .div-gifos-subido .btn-gifos-subido-descargar {
    grid-area: btn_descargar;
    background: var(--color-fondo);
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    width: 256px;
    height: 2.5vw; }
  .subido .div-gifos-subido .btn-gifos-subido-listo {
    grid-area: btn_listo;
    background: var(--color-base);
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    width: 144px;
    height: 2.5vw;
    align-self: end;
    justify-self: end; }
.subido .precaptura-botones {
  display: none; }
.subido .precaptura {
  display: none; }

/*# sourceMappingURL=style-default.css.map */
