@import url(colores_root.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--color-fondo);
  font-family: "Chakra Petch", sans-serif;
  font-size: calc( 9px + 0.5vw );
  color: var(--color-letra); }

body {
  background-color: var(--color-fondo); }

header {
  position: sticky;
  top: 0;
  left: 0; }

.titulo-superior {
  background: var(--color-transicion);
  background: linear-gradient(90deg, var(--color-transicion) 0%, var(--color-base) 100%);
  box-shadow: 0 1px 0 0 var(--color-shadow);
  line-height: 23px;
  font-size: calc(5px + 0.5vw);
  color: #ffffff;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px; }

.titulo {
  padding: 35px 10vw 0 7vw;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .titulo .logos-flechas {
    display: flex;
    align-items: center; }
  .titulo .logo {
    background: var(--imagen-logo);
    width: 7vw;
    display: inline-block;
    height: 60px;
    background-repeat: no-repeat;
    margin-left: 10px; }
  .titulo .flecha-regresar {
    background: var(--imagen-regresar);
    width: 1.7vw;
    display: none;
    height: 1.7vw;
    background-repeat: no-repeat; }
  .titulo .botones-cabecera {
    display: flex;
    justify-content: flex-end; }
    .titulo .botones-cabecera .select-tema {
      width: 10.5vw;
      height: 36px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: var(--color-base);
      border: 1px solid var(--color-shadow);
      box-shadow: inset -1px -1px 0 0 var(--color-box-shadow), inset 1px 1px 0 0 #FFFFFF;
      line-height: 18px;
      margin-right: calc(9px + 0.5vw); }
      .titulo .botones-cabecera .select-tema span {
        background-color: transparent; }
      .titulo .botones-cabecera .select-tema img {
        background-color: transparent; }
      .titulo .botones-cabecera .select-tema:hover {
        border: 1px solid var(--color-shadow); }
      .titulo .botones-cabecera .select-tema:active {
        border: 1px solid var(--color-shadow); }
    .titulo .botones-cabecera .detalle-select-tema {
      background-color: var(--color-fondo-gris);
      height: 80px;
      display: none;
      position: fixed;
      width: 10.5vw;
      justify-content: space-evenly;
      flex-direction: column; }
      .titulo .botones-cabecera .detalle-select-tema div {
        height: 36px;
        width: 85%;
        margin-left: calc( 5px + 0.5vw );
        line-height: 36px;
        background-color: var(--color-fondo-boton-inactivo);
        padding-left: calc( 3px + 0.5vw );
        border: 1px solid #CCA6C9;
        box-shadow: inset -1px -1px 0 0 var(--color-shadow-1), inset 1px 1px 0 0 #FFFFFF; }
        .titulo .botones-cabecera .detalle-select-tema div:hover {
          background-color: #FFF4FD; }
    .titulo .botones-cabecera .link-mis-guifos {
      height: 36px;
      line-height: 36px;
      color: var(--color-contraste); }
      .titulo .botones-cabecera .link-mis-guifos::first-letter {
        text-decoration: underline; }
      .titulo .botones-cabecera .link-mis-guifos:hover {
        border: 1px solid var(--color-shadow); }
      .titulo .botones-cabecera .link-mis-guifos:active {
        color: var(--color-gris-medio); }

.btn-crear-guifos {
  width: 10vw;
  height: 36px;
  background-color: var(--color-base);
  border: 1px solid var(--color-shadow);
  box-shadow: inset -1px -1px 0 0, var(--color-box-shadow), inset 1px 1px 0 0 #FFFFFF;
  line-height: 18px;
  margin-right: calc(9px + 0.5vw); }
  .btn-crear-guifos:hover {
    border: 1px solid var(--color-shadow); }
  .btn-crear-guifos:active {
    border: 1px solid var(--color-shadow); }

#buscar {
  height: 99px;
  margin: 19px 10vw 0 7vw;
  background-color: var(--color-fondo-gris);
  box-shadow: inset -2px -2px 0 0 var(--color-shadow-gris), inset 2px 2px 0 0 #FFFFFF; }
  #buscar .titulo-buscar {
    height: 24px;
    top: 0; }
  #buscar .body-buscar {
    background-color: var(--color-fondo-gris);
    line-height: 75px;
    padding: calc( 8px + 0.5vw );
    display: flex;
    justify-content: space-around;
    align-items: center; }
    #buscar .body-buscar input {
      background-color: #ffffff;
      width: 73vw;
      height: 48px;
      padding-left: calc( 9px + 0.5vw );
      color: var(--color-shadow-gris);
      border: 1px solid var(--color-box-shadow);
      line-height: 22px;
      box-shadow: inset -2px -2px 0 0 var(--color-fondo-gris), inset 2px 2px 0 0 #000000; }
      #buscar .body-buscar input:active ~ .boton-buscar {
        background-color: var(--color-base);
        border: 1px solid var(--color-shadow);
        box-shadow: inset -1px -1px 0 0 var(--color-box-shadow), inset 1px 1px 0 0 #FFFFFF; }
    #buscar .body-buscar .boton-buscar {
      width: 7vw;
      height: 36px;
      background-color: var(--color-fondo-gris);
      border: 1px solid var(--color-gris-medio);
      box-shadow: inset -1px -1px 0 0 var(--color-shadow-gris), inset 1px 1px 0 0 #FFFFFF;
      line-height: 18px;
      color: var(--color-shadow-gris);
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      #buscar .body-buscar .boton-buscar img {
        background-color: transparent; }
      #buscar .body-buscar .boton-buscar span {
        background-color: transparent; }
  #buscar .detalle-buscar {
    width: 100%;
    height: 160px;
    padding-left: calc(9px + 0.5vw);
    display: none;
    position: sticky;
    flex-direction: column;
    justify-content: space-evenly;
    background: var(--color-fondo-gris);
    box-shadow: inset -2px -2px 0 0 var(--color-shadow-gris), inset 2px 2px 0 0 #FFFFFF; }
    #buscar .detalle-buscar button {
      text-align: left;
      padding-left: calc(9px + 0.5vw);
      height: 34px;
      width: 77%;
      margin-top: 10px;
      color: var(--color-contraste);
      line-height: 22px;
      background-color: var(--color-fondo-boton-inactivo);
      border: 1px solid var(--color-gris-medio);
      box-shadow: inset -1px -1px 0 0 var(--color-shadow-gris), inset 1px 1px 0 0 #FFFFFF; }
      #buscar .detalle-buscar button:hover {
        border: 1px solid var(--color-shadow); }

.secciones {
  margin: 64px 10vw 0 7vw; }
  .secciones h2 {
    width: 100%;
    height: 32px;
    font-size: calc(7px + 0.5vw);
    line-height: 32px;
    padding-left: 7px;
    font-weight: normal;
    color: var(--color-contraste2);
    background-color: var(--color-fondo-secciones);
    border: 1px solid var(--color-border-secciones);
    box-shadow: inset -2px -2px 0 0 var(--color-shadow-1), inset 2px 2px 0 0 #80687D; }
  .secciones .galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: calc( 13px + 0.5vw );
    padding-top: 16px; }

.imagen-con-marco {
  background-color: var(--color-fondo-gris);
  box-shadow: inset -2px -2px 0 0 var(--color-shadow-gris), inset 2px 2px 0 0 #FFFFFF;
  margin-bottom: 15px; }
  .imagen-con-marco .subtitulo-imagen-marco {
    position: relative;
    top: 18vw;
    display: none; }
  .imagen-con-marco .titulo-imagen-marco {
    display: flex;
    justify-content: space-between; }
    .imagen-con-marco .titulo-imagen-marco span {
      padding-left: 5px;
      font-size: calc( 7px + 0.5vw );
      background-color: transparent;
      font-weight: bold;
      color: #ffffff;
      height: 24px; }
    .imagen-con-marco .titulo-imagen-marco img {
      background-color: transparent; }
  .imagen-con-marco:hover {
    border: 1px solid var(--color-shadow); }
  .imagen-con-marco:hover > .subtitulo-imagen-marco {
    display: block; }

.button-ver-mas {
  width: 5.6vw;
  height: 34px;
  background: #4180F6;
  border: 1px solid #4C2F99;
  box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
  position: relative;
  top: 14vw;
  margin-left: 7px;
  color: #ffffff;
  font-size: calc( 7px + 0.5vw ); }

#tendencias {
  display: block; }

#sugerencias {
  display: block; }

#resultado-busqueda {
  display: none; }

#mis-guifos {
  display: none; }

#crear-guifos {
  display: none; }

.instrucciones {
  background-color: var(--color-shadow-gris);
  width: 47.6vw;
  height: 386px;
  margin: auto;
  box-shadow: inset -2px -2px 0 0 var(--color-shadow-gris), inset 2px 2px 0 0 #FFFFFF; }

.detalle-instrucciones {
  display: grid;
  grid-gap: calc(9px + 0.5vw);
  background-color: var(--color-shadow-gris);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "logo-crear titulo-crear titulo-crear titulo-crear" "logo-crear pasos pasos pasos" "logo-crear . boton-cancelar boton-comenzar";
  padding-top: 30px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 2px; }

.img-crear {
  grid-area: logo-crear;
  justify-self: end; }

.h4-crear {
  background-color: var(--color-shadow-gris);
  grid-area: titulo-crear; }

.negrita {
  font-weight: bold;
  background-color: transparent; }

.p-crear {
  background-color: var(--color-shadow-gris);
  grid-area: pasos;
  line-height: 25px;
  padding-bottom: 28px; }

#btn-crear-cancelar {
  grid-area: boton-cancelar; }

#btn-crear-comenzar {
  grid-area: boton-comenzar; }

/*# sourceMappingURL=style-default.css.map */
